<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="b627c92f458748e3b08d3ca0bd4ab10d" class="chart-container" style="width:900px; height:500px;"></div>
    <h2>2020.02.04日的各地区确诊，数据任呈正相关，疫情扩散未控制住</h2>
    <script>
        var chart_b627c92f458748e3b08d3ca0bd4ab10d = echarts.init(
            document.getElementById('b627c92f458748e3b08d3ca0bd4ab10d'), 'white', {renderer: 'canvas'});
        var option_b627c92f458748e3b08d3ca0bd4ab10d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u786e\u8bca",
            "symbolSize": 10,
            "data": [
                [
                    "Hubei",
                    16678.0
                ],
                [
                    "Zhejiang",
                    895.0
                ],
                [
                    "Guangdong",
                    870.0
                ],
                [
                    "Henan",
                    764.0
                ],
                [
                    "Hunan",
                    661.0
                ],
                [
                    "Jiangxi",
                    548.0
                ],
                [
                    "Anhui",
                    530.0
                ],
                [
                    "Chongqing",
                    366.0
                ],
                [
                    "Jiangsu",
                    341.0
                ],
                [
                    "Sichuan",
                    301.0
                ],
                [
                    "Shandong",
                    298.0
                ],
                [
                    "Shanghai",
                    233.0
                ],
                [
                    "Beijing",
                    228.0
                ],
                [
                    "Fujian",
                    194.0
                ],
                [
                    "Heilongjiang",
                    190.0
                ],
                [
                    "Shaanxi",
                    165.0
                ],
                [
                    "Guangxi",
                    150.0
                ],
                [
                    "Hebei",
                    135.0
                ],
                [
                    "Yunnan",
                    122.0
                ],
                [
                    "Hainan",
                    91.0
                ],
                [
                    "Liaoning",
                    81.0
                ],
                [
                    "Shanxi",
                    81.0
                ],
                [
                    "Tianjin",
                    67.0
                ],
                [
                    "Guizhou",
                    64.0
                ],
                [
                    "Gansu",
                    57.0
                ],
                [
                    "Jilin",
                    54.0
                ],
                [
                    "Inner Mongolia",
                    42.0
                ],
                [
                    "Ningxia",
                    34.0
                ],
                [
                    "Xinjiang",
                    32.0
                ],
                [
                    null,
                    25.0
                ],
                [
                    null,
                    24.0
                ],
                [
                    null,
                    22.0
                ],
                [
                    "Hong Kong",
                    18.0
                ],
                [
                    "Qinghai",
                    17.0
                ],
                [
                    null,
                    16.0
                ],
                [
                    null,
                    12.0
                ],
                [
                    "Taiwan",
                    11.0
                ],
                [
                    "Macau",
                    10.0
                ],
                [
                    null,
                    10.0
                ],
                [
                    null,
                    8.0
                ],
                [
                    null,
                    6.0
                ],
                [
                    null,
                    5.0
                ],
                [
                    "New South Wales",
                    4.0
                ],
                [
                    "Victoria",
                    4.0
                ],
                [
                    "Queensland",
                    3.0
                ],
                [
                    null,
                    3.0
                ],
                [
                    "South Australia",
                    2.0
                ],
                [
                    "Toronto, ON",
                    2.0
                ],
                [
                    null,
                    2.0
                ],
                [
                    null,
                    2.0
                ],
                [
                    null,
                    2.0
                ],
                [
                    null,
                    2.0
                ],
                [
                    "Chicago, IL",
                    2.0
                ],
                [
                    "San Benito, CA",
                    2.0
                ],
                [
                    "Santa Clara, CA",
                    2.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    "British Columbia",
                    1.0
                ],
                [
                    "London, ON",
                    1.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    "Tibet",
                    1.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    "Boston, MA",
                    1.0
                ],
                [
                    "Los Angeles, CA",
                    1.0
                ],
                [
                    "Orange, CA",
                    1.0
                ],
                [
                    "Seattle, WA",
                    1.0
                ],
                [
                    "Tempe, AZ",
                    1.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u6cbb\u6108",
            "symbolSize": 10,
            "data": [
                [
                    "Hubei",
                    522.0
                ],
                [
                    "Zhejiang",
                    63.0
                ],
                [
                    "Guangdong",
                    32.0
                ],
                [
                    "Henan",
                    41.0
                ],
                [
                    "Hunan",
                    35.0
                ],
                [
                    "Jiangxi",
                    27.0
                ],
                [
                    "Anhui",
                    20.0
                ],
                [
                    "Chongqing",
                    14.0
                ],
                [
                    "Jiangsu",
                    13.0
                ],
                [
                    "Sichuan",
                    23.0
                ],
                [
                    "Shandong",
                    13.0
                ],
                [
                    "Shanghai",
                    12.0
                ],
                [
                    "Beijing",
                    23.0
                ],
                [
                    "Fujian",
                    3.0
                ],
                [
                    "Heilongjiang",
                    4.0
                ],
                [
                    "Shaanxi",
                    2.0
                ],
                [
                    "Guangxi",
                    10.0
                ],
                [
                    "Hebei",
                    4.0
                ],
                [
                    "Yunnan",
                    5.0
                ],
                [
                    "Hainan",
                    4.0
                ],
                [
                    "Liaoning",
                    2.0
                ],
                [
                    "Shanxi",
                    4.0
                ],
                [
                    "Tianjin",
                    2.0
                ],
                [
                    "Guizhou",
                    5.0
                ],
                [
                    "Gansu",
                    4.0
                ],
                [
                    "Jilin",
                    1.0
                ],
                [
                    "Inner Mongolia",
                    1.0
                ],
                [
                    "Ningxia",
                    1.0
                ],
                [
                    "Xinjiang",
                    0.0
                ],
                [
                    null,
                    5.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    "Hong Kong",
                    0.0
                ],
                [
                    "Qinghai",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "Taiwan",
                    0.0
                ],
                [
                    "Macau",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "New South Wales",
                    2.0
                ],
                [
                    "Victoria",
                    0.0
                ],
                [
                    "Queensland",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "South Australia",
                    0.0
                ],
                [
                    "Toronto, ON",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "Chicago, IL",
                    0.0
                ],
                [
                    "San Benito, CA",
                    0.0
                ],
                [
                    "Santa Clara, CA",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "British Columbia",
                    0.0
                ],
                [
                    "London, ON",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "Tibet",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "Boston, MA",
                    0.0
                ],
                [
                    "Los Angeles, CA",
                    0.0
                ],
                [
                    "Orange, CA",
                    0.0
                ],
                [
                    "Seattle, WA",
                    0.0
                ],
                [
                    "Tempe, AZ",
                    0.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u6b7b\u4ea1",
            "symbolSize": 10,
            "data": [
                [
                    "Hubei",
                    479.0
                ],
                [
                    "Zhejiang",
                    0.0
                ],
                [
                    "Guangdong",
                    0.0
                ],
                [
                    "Henan",
                    2.0
                ],
                [
                    "Hunan",
                    0.0
                ],
                [
                    "Jiangxi",
                    0.0
                ],
                [
                    "Anhui",
                    0.0
                ],
                [
                    "Chongqing",
                    2.0
                ],
                [
                    "Jiangsu",
                    0.0
                ],
                [
                    "Sichuan",
                    1.0
                ],
                [
                    "Shandong",
                    0.0
                ],
                [
                    "Shanghai",
                    1.0
                ],
                [
                    "Beijing",
                    1.0
                ],
                [
                    "Fujian",
                    0.0
                ],
                [
                    "Heilongjiang",
                    2.0
                ],
                [
                    "Shaanxi",
                    0.0
                ],
                [
                    "Guangxi",
                    0.0
                ],
                [
                    "Hebei",
                    1.0
                ],
                [
                    "Yunnan",
                    0.0
                ],
                [
                    "Hainan",
                    1.0
                ],
                [
                    "Liaoning",
                    0.0
                ],
                [
                    "Shanxi",
                    0.0
                ],
                [
                    "Tianjin",
                    0.0
                ],
                [
                    "Guizhou",
                    0.0
                ],
                [
                    "Gansu",
                    0.0
                ],
                [
                    "Jilin",
                    0.0
                ],
                [
                    "Inner Mongolia",
                    0.0
                ],
                [
                    "Ningxia",
                    0.0
                ],
                [
                    "Xinjiang",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "Hong Kong",
                    1.0
                ],
                [
                    "Qinghai",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "Taiwan",
                    0.0
                ],
                [
                    "Macau",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "New South Wales",
                    0.0
                ],
                [
                    "Victoria",
                    0.0
                ],
                [
                    "Queensland",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "South Australia",
                    0.0
                ],
                [
                    "Toronto, ON",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    1.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "Chicago, IL",
                    0.0
                ],
                [
                    "San Benito, CA",
                    0.0
                ],
                [
                    "Santa Clara, CA",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "British Columbia",
                    0.0
                ],
                [
                    "London, ON",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "Tibet",
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    null,
                    0.0
                ],
                [
                    "Boston, MA",
                    0.0
                ],
                [
                    "Los Angeles, CA",
                    0.0
                ],
                [
                    "Orange, CA",
                    0.0
                ],
                [
                    "Seattle, WA",
                    0.0
                ],
                [
                    "Tempe, AZ",
                    0.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u786e\u8bca",
                "\u6cbb\u6108",
                "\u6b7b\u4ea1"
            ],
            "selected": {
                "\u786e\u8bca": true,
                "\u6cbb\u6108": true,
                "\u6b7b\u4ea1": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Hubei",
                "Zhejiang",
                "Guangdong",
                "Henan",
                "Hunan",
                "Jiangxi",
                "Anhui",
                "Chongqing",
                "Jiangsu",
                "Sichuan",
                "Shandong",
                "Shanghai",
                "Beijing",
                "Fujian",
                "Heilongjiang",
                "Shaanxi",
                "Guangxi",
                "Hebei",
                "Yunnan",
                "Hainan",
                "Liaoning",
                "Shanxi",
                "Tianjin",
                "Guizhou",
                "Gansu",
                "Jilin",
                "Inner Mongolia",
                "Ningxia",
                "Xinjiang",
                null,
                null,
                null,
                "Hong Kong",
                "Qinghai",
                null,
                null,
                "Taiwan",
                "Macau",
                null,
                null,
                null,
                null,
                "New South Wales",
                "Victoria",
                "Queensland",
                null,
                "South Australia",
                "Toronto, ON",
                null,
                null,
                null,
                null,
                "Chicago, IL",
                "San Benito, CA",
                "Santa Clara, CA",
                null,
                null,
                "British Columbia",
                "London, ON",
                null,
                "Tibet",
                null,
                null,
                null,
                null,
                "Boston, MA",
                "Los Angeles, CA",
                "Orange, CA",
                "Seattle, WA",
                "Tempe, AZ"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5404\u5730\u533a\u6cbb\u6108\u4e0e\u6b7b\u4ea1\u4eba\u6570",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_b627c92f458748e3b08d3ca0bd4ab10d.setOption(option_b627c92f458748e3b08d3ca0bd4ab10d);
    </script>
</body>
</html>
