<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="8c027e0ebb894447bc1693765a1a0718" class="chart-container" style="width:900px; height:500px;"></div>

    <h2>数据集中top15的治愈和死亡人数对比，从中可以看出早期疫情没有较为有效的方式控制病毒，死亡人数贴近治愈人数</h2>
    <script>
        var chart_8c027e0ebb894447bc1693765a1a0718 = echarts.init(
            document.getElementById('8c027e0ebb894447bc1693765a1a0718'), 'white', {renderer: 'canvas'});
        var option_8c027e0ebb894447bc1693765a1a0718 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u6cbb\u6108",
            "legendHoverLink": true,
            "data": [
                522.0,
                63.0,
                32.0,
                41.0,
                35.0,
                27.0,
                20.0,
                14.0,
                13.0,
                23.0,
                13.0,
                12.0,
                23.0,
                3.0,
                4.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6b7b\u4ea1",
            "legendHoverLink": true,
            "data": [
                479.0,
                0.0,
                0.0,
                2.0,
                0.0,
                0.0,
                0.0,
                2.0,
                0.0,
                1.0,
                0.0,
                1.0,
                1.0,
                0.0,
                2.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6cbb\u6108",
                "\u6b7b\u4ea1"
            ],
            "selected": {
                "\u6cbb\u6108": true,
                "\u6b7b\u4ea1": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Hubei",
                "Zhejiang",
                "Guangdong",
                "Henan",
                "Hunan",
                "Jiangxi",
                "Anhui",
                "Chongqing",
                "Jiangsu",
                "Sichuan",
                "Shandong",
                "Shanghai",
                "Beijing",
                "Fujian",
                "Heilongjiang"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5404\u5730\u533a\u6cbb\u6108\u4e0e\u6b7b\u4ea1\u4eba\u6570",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_8c027e0ebb894447bc1693765a1a0718.setOption(option_8c027e0ebb894447bc1693765a1a0718);
    </script>
</body>
</html>
