<!DOCTYPE html>
<html>
<head>
    <title>Draco by @afnizarnur</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Draco is free PSD &amp; HTML template by @afnizarnur">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/kube.min.css" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/custom.min.css" />
    <link rel="shortcut icon" href="img/favicon.png" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<style>
		.intro h1:before {
			/* Edit this with your name or anything else */
			content: 'LiBai';
		}
	</style>
</head>
<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">DRACO</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li class="active"><a href="#about">关于</a></li>
				        <li><a href="#experiences">大学课程学习</a></li>
				        <li><a href="#achievements">课外学习</a></li>
				        <li><a href="#skills">项目经历</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Introduction -->
	<div class="intro section" id="about">
		<div class="container">
			<p>{{person.name}}</p>
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="static/img/picture.jpg" alt="Avatar">
				</div>
				<div class="unit-80">
					<h1>我居住在<br>{{person.address}}</h1>
				</div>
<!--				<p>-->
<!--					我居住在湖北省黄石市-->
<!--				</p>-->
			</div>
		</div>
	</div>

	<!-- Work Experience -->
	<div class="work section second" id="experiences">
		<div class="container">
			<h1>大学课程学习</h1>
			<ul class="work-list">
				<li>2018-2021</li>
				<li>C语言，C++，Java，python等入门</a></li>
				<li>python可视化数据分析</li>
				<li>MySQl数据库</li>
				<li>软件开发文档的编写（包括需求分析，概要设计，详细设计等）</li>
				<li>Okit，UML软件的简单使用</li>
				<li>Github,heroku的使用</li>
			</ul>
<!--			<ul class="work-list">-->
<!--				<li>2014-2015</li>-->
<!--				<li><a href="#">Wego</a></li>-->
<!--				<li>UI/UX Designer</li>-->
<!--			</ul>-->
<!--			<ul class="work-list">-->
<!--				<li>2014-2015</li>-->
<!--				<li><a href="#">Garuda Indonesia</a></li>-->
<!--				<li>System Designer</li>-->
<!--			</ul>-->
		</div>
	</div>

	<!-- Award & Achievements -->
	<div class="award section second" id="achievements">
		<div class="container">
			<h1>课外学习</h1>
			<div class="container">
				<ul class="award-list list-flat">
					<li>Unity游戏引擎的简单了解和使用</li>
				</ul>
			</div>


		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>项目经历</h1>
			<ul class="skill-list list-flat">
				<li>Web购物商城</li>
				<li>Java MVC模式下的登录注册购物的实现</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>可视化数据分析</li>
				<li>可运用pyecharts实现数据可视化，绘制交互式的常规图形</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>unity经典贪吃蛇游戏实现</li>
				<li>简单学习Unity，实现贪吃蛇的移动、暂停、生长、碰撞死亡</li>
			</ul>
		</div>
	</div>

<!--	&lt;!&ndash; Quote &ndash;&gt;-->
<!--	<div class="quote">-->
<!--		<div class="container text-centered">-->
<!--			<h1>fight against the ugliness.</h1>-->
<!--		</div>-->
<!--	</div>-->

	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<h3>数据集2019_nCoV_data.csv<br></br>数据可视化</h3>

			    </div>
			    <div class="unit-50">
					<ul class="social list-flat right">
						<li><a href="{{url_for('first_bar')}}" target="_blank">直方图</a></li> <!-- YOUR BEHANCE USER  -->
            			<li><a href="{{url_for('first_boxplot')}}" target="_blank">箱形图</a></li>
            			<li><a href="{{url_for('first_effectscatter')}}" target="_blank">涟漪散点图</a></li>
            			<li><a href="{{url_for('first_funnel')}}" target="_blank">漏斗图</a></li>
            			<li><a href="{{url_for('first_line')}}" target="_blank">折线图</a></li>
						<li><a href="{{url_for('first_map')}}" target="_blank">地图</a></li> <!-- YOUR BEHANCE USER  -->
            			<li><a href="{{url_for('first_pie')}}" target="_blank">饼状图</a></li>
            			<li><a href="{{url_for('first_polar')}}" target="_blank">极坐标系</a></li>
            			<li><a href="{{url_for('first_scatter')}}" target="_blank">散点图</a></li>
            			<li><a href="{{url_for('first_worldcloud')}}" target="_blank">词云图</a></li>
					</ul>
			    </div>
			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/typed.min.js"></script>
    <script src="../static/js/kube.min.js"></script>
    <script src="../static/js/site.js"></script>
    <script>
		function newTyped(){}$(function(){$("#typed").typed({
		// Change to edit type effect
		strings: ["far northern sky", "your galaxy", "everywhere"],

		typeSpeed:90,backDelay:700,contentType:"html",loop:!0,resetCallback:function(){newTyped()}}),$(".reset").click(function(){$("#typed").typed("reset")})});
    </script>
</body>
</html>
